/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */





.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  margin-top: -50px;
  width: 100%;
}

.flex-fill {
  flex: 1;
}

.content {
  margin-left: 270px; /* Adjust based on sidebar width */
  padding: 15px;
  max-width: 800px; /* Set max width for the content */
  overflow-wrap: break-word; /* Ensure long text wraps */
}

h1, h2, h3, h4 {
  margin-top: 20px;
}

h1 {
  color: rgb(8, 47, 219) !important
}

h2 {
  color: rgb(13, 143, 13) !important
}

pre {
  background-color: #edeff0;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}


code {
  width: 60%;
  font-family: monospace; /* Monospaced font for code */
  color: #d63384; /* Optional: Color for code text */
}






/* Responsive Styles */


@media (max-width: 1100px) {
  pre {
    background-color: #edeff0;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
  }
  
  
  code {
    width: 60%;
    font-family: monospace; /* Monospaced font for code */
    color: #d63384; /* Optional: Color for code text */
  }
  
}


@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .content {
    margin-left: 0;
    padding: 10px;
    max-width: 100%; /* Allow full width on smaller screens */
  }
}

